@import "../../styles/variables";

.gallery {
}

.galleryGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.25rem;

  img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

@include respond(mobile) {
  .galleryGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
