@import "../../../styles/variables";

.programCard {
  padding: 1.25rem;
  background: white;
  border: solid 0.125rem $color-border;
}
.focusAreas {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.25rem;
}
.info {
  letter-spacing: 0.0163rem;
  line-height: 1.625rem;
  color: $color-base-4;
}

.logo {
  width: 2rem;
  height: 2rem;
  margin-right: 0.625rem;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  border-radius: 1000rem;

  background-color: $color-bg-secondary;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 0.625rem;

  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.org {
  display: flex;
  justify-content: space-between;
}

.orgDetails {
  flex: 1;

  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-right: 1rem;
  }
}
