@import "../../../../styles/variables";

.container {
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.8125rem;

  margin-top: 2rem;
}

@include respond(touch) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include respond(mobile) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
