@import "../../styles/variables";

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(12.5rem, 1fr));
  margin: auto;

  justify-content: center;
  gap: 1.875rem;
}

@include respond(mobile) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.subcontainer {
  background: $color-bg-secondary;
}
