@import "../../styles/variables";

.grid {
  display: flex;
  // justify-content: space-between;
  align-items: center;
}

.healthInfoCard {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 15.625rem;
}

.healthInfoLogo {
  width: 8.75rem;

  img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.partnerGrid {
  margin-top: 3.125rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  figure {
    width: 9.375rem;
    height: 7.0625rem;

    img {
      width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
}

.focusGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.75rem 7.1875rem;
}

@include respond(mobile) {
  .focusGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
  }

  .healthInfoCard {
    margin-right: 1.1875rem;
  }

  .partnerGrid {
    flex-wrap: wrap;

    figure {
      margin-bottom: 1.5rem;
    }
  }
}
