@import "../../../styles/variables";

.box {
  padding: 1.875rem 2.8125rem;
  background-color: #fafafa;
}

@include respond(mobile) {
  .box {
    padding: 0.3125rem;
    background-color: transparent;
  }
}
