@import "../../../styles/variables";

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.markdownContainer p img {
  width: 100%;
}

.markdownContainer h2 {
  padding: 0.5rem 10rem;
  font-family: "Poppins", sans-serif;
}

.markdownContainer blockquote {
  font-style: italic;
}

.markdownContainer p,
ol,
ul {
  padding: 0.5rem 10rem;
  line-height: 1.85;
  font-family: "Georgia";
  font-size: 1.25rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include respond(mobile) {
    padding: 0rem;
  }
}
.markdownContainer h4 {
  padding: 0.5rem 10rem;
  margin: 0;
  font-family: "Poppins";
  font-size: 2.25rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include respond(mobile) {
    padding: 0rem;
  }
}

.image {
  flex: 1;

  img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

.content {
  flex: 1;
}

@include respond(mobile) {
  .section {
    flex-direction: column-reverse;
  }

  .flexReverse {
    flex-direction: column;
  }
}

.container {
  margin: 4.375rem auto;
  max-width: $app-width;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 3.125rem;
}

@include respond(mobile) {
  .grid {
    grid-template-columns: 1fr;
  }
}
